*{
    text-decoration: none;
    font-style: none;
    padding: 0;
    margin: 0;
}

#acceuil{
    background-image: url('../images/thumb-1920-481903.png');
    background-size: cover;
    height: 100%;
    #pokemonJ{
        position: absolute;
        bottom: 50%;
        left: 20px;
        background-color: aqua;
        width: 200px;
        padding-top: 60px;
        font-size: 2rem;
        text-align: center;
        padding: 50px;
        border-radius: 50%;
             
    }
    #pokemonJ:hover{
        color: black;
        background-color: red;
        border: 2px black solid;
    }
}

#pokemonsShow{
    text-align: center;
    background-color: bisque;
    @include flex;
    flex-wrap: wrap;
    padding-top: 10px;
    h2{
        color:rebeccapurple;
    }
}

#logo{
    width: 300px;
    height: 120px;
}
#inputP{
    background-color: yellowgreen;
   @include flex;
   gap: 20px;
   padding: 10px 10px;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: cornflowerblue;
    background-color: black;
}

.article{
    animation: mooveP 2s ease ;
    background-color: whitesmoke;
    border: solid black 2px;
    width: 300px;
    margin: 0 5px 10px 5px;
  
}

.imgArticles{
    width: 150px;
    height: 150px;
}

@keyframes mooveP{
    0%{
        transform: translateX(+150%);
    }
   
}

#resDiv{
    text-align: center;
    padding-top: 50px;
    
    td{
        border: solid 1px black;
        padding: 10px 16px;
    
    }
}

#idPokemon{
    @include flex;
    text-align: center;
}